@import '@/index.sass'

.folder
  font-size: 15px
  padding: 12px 0px
  background: #fff
  position: relative
  height: calc(100% - 90px)
  user-select: none
  border-right: 1px solid #f1f2f4
  @extend .loading

  .darg
    top: 0
    right: 0
    width: 1px
    position: absolute
    cursor: col-resize
    height: 100%
    z-index: 10
    &:hover
      border-right: 3px solid #f1f2f4

  :global(.ant-tree)
    height: 100%
    background: none
    position: relative
    overflow-x: hidden
    overflow-y: scroll
    padding-left: 5px

  :global(.ant-tree-switcher)
    display: none
  :global(.ant-tree-treenode)
    font-size: 14.5px
    :global(.anticon)
      font-size: 16px
    &::before
      border-radius: 10px
  :global(.ant-tree-treenode-selected)
    span
      color: #0F172A !important
    &::before
      background: #F1F5F9 !important

  :global(.ant-tree-node-content-wrapper)
    height: 36px
    display: flex
    overflow: hidden
    border-radius: 10px
    align-items: center

    :global(.ant-tree-title)
      padding-left: 2px
      width: calc(100% - 40px)
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
