# OS
.DS_Store

# Refused to match
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

dist/
node_modules/
/service-explorer/resource

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
