.header
  height: 66px
  background: #fff
  user-select: none
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #f1f2f4

  h1
    margin: 0
    height: 100%
    display: flex
    font-size: 22px
    font-weight: 400
    color: #444746
    margin-left: 18px
    align-items: center

    img
      width: 41.5px
      height: 41.5px
      margin-right: 12px

  .user
    display: flex
    cursor: pointer
    align-items: center
    margin-right: 18px
    div
      width: 51px
      height: 51px
    span
      font-size: 15px
      color: #444746
      margin-left: 8px