.search
  width: 760px
  height: 580px
  background: #fff
  position: fixed
  top: calc(50% - 400px)
  left: calc(50% - 380px)
  border-radius: 15px
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px
