HTTP_ADDR=2002

GRPC_ASSET_ADDR=0.0.0.0:9001

POSTGRES_DSN=host=localhost user=postgres password=your_password dbname=drive port=5432 sslmode=disable TimeZone=Asia/Shanghai

REDIS_URL=redis://:your_password@127.0.0.1:6379/1
