.layout
  width: 100%
  height: 100%
  margin: auto
  display: flex
  user-select: none
  justify-content: center

  .login
    width: 500px
    height: 100%
    display: flex
    user-select: none
    align-items: center

    & > div
      width: 100%
      padding: 0 20px 80px 20px
      button
        height: 38px
      img
        width: 140px
        margin: auto
        display: block
        margin-bottom: 35px

    form > :global(.ant-form-item):nth-child(3)
      margin: 0

    :global(.ant-checkbox-wrapper)
      margin-bottom: 20px

    :global(.ant-input-affix-wrapper)
      height: 45px
      padding: 3px 14px

    :global(.ant-btn)
      width: 100%
      height: 42px !important
