HTTP_ADDR=0.0.0.0:2004

GRPC_ADDR=0.0.0.0:2014

REDIS_URL=redis://:your_password@127.0.0.1:6379/1

MINIO_POINT = 127.0.0.1:9000

MINIO_ACCESS_KEY = minioadmin

MINIO_ACCESS_SECRET = minioadmin

MINIO_BUCKET = drive